/*----------------------------------------------
    ## Arrival Style
----------------------------------------------*/
.single-arrival-wrap {
	padding-left: 49px;
	padding-right: 30px;
	height: 100%;
	position: relative;
	z-index: 1;
	h2 {
		font-size: 28px;
		margin-bottom: 18px;
	}
	p {
		font-size: 14px;
		margin-bottom: 32px;
	}
}
.single-arrival-category {
	min-height: 375px;
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    .btn {
    	width: 180px;
    	padding: 0;
    }
}